body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
}
table{
    margin: 15px;
}
td{
    border: 1px solid #414141;
    padding: 10px 30px;
    min-width: 100px;
}
th{
    background-color: #414141;
    color: white;
    padding: 10px 30px;
}

input{
    padding: 1px;
    width: 70px;
    border: none;
    border-color: transparent;
    border-bottom: 0.12em solid #414141;
    text-align: center;
}
button{
    width: 50px;
    margin: 10px;
}